name: Nighty

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive    # 关键：递归拉取子模块
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: |
        dotnet publish ./MultiSEngine/MultiSEngine.csproj -c Release -r win-x64 -p:PublishSingleFile=true --self-contained false
        dotnet publish ./MultiSEngine/MultiSEngine.csproj -c Release -r linux-x64 -p:PublishSingleFile=true --self-contained false
        dotnet publish ./MultiSEngine/MultiSEngine.csproj -c Release -r linux-arm64 -p:PublishSingleFile=true --self-contained false
    - uses: actions/upload-artifact@v6
      with:
        name: MultiSEngine-Win
        path: ./MultiSEngine/bin/Release/net9.0/win-x64/publish/MultiSEngine.exe
    - uses: actions/upload-artifact@v6
      with:
        name: MultiSEngine-Linux
        path: ./MultiSEngine/bin/Release/net9.0/linux-x64/publish/MultiSEngine
    - uses: actions/upload-artifact@v6
      with:
        name: MultiSEngine-Arm64
        path: ./MultiSEngine/bin/Release/net9.0/linux-arm64/publish/MultiSEngine
